@import url(style/slide.css);

:root{
    --cor-de-fundo: #242525;
    --cor-do-rodape: #000000;
    --cor-do-botao: #42DB29;
    --branca: #ffffff;
    --preto:#000000;
    --azul: blue;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--preto);
    color: white;
    padding: 10px 20px;
    height: 5vh;
    text-align: center;
}
.logo-text {
    display: flex;
    align-items: center;
}

.navbar p{
    color: var(--cor-do-botao);
    text-align: right;
    margin-left: 10px;
    font-family: "Hanalei Fill", system-ui;
}

.banner {
    background-image: url('style/img/AgroDev1.png');
    background-size: cover;
    background-position: center;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 100px 20px;
    height: 25vh;
    position: relative;
}
.banner img{
    width: 100%;
    height: auto; 
    max-height: 100%; 
    object-fit: contain; 
}
.calculator {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    height: 35vh;
}
.calculator input, .calculator select {
    margin: 10px;
    padding: 5px;
}
.footer {
    background-color: var(--preto);
    height:19vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icons {
    display: flex;
}

.social-icons a {
    margin: 0 10px; 
}

.footer-marca{
    color: var(--branca);
    margin-top: 10px;

    
}

.footer a img {
    width: 40px; 
    height: 40px; 
    transition: transform 0.3s;
}

.footer a {
    margin: 0 10px;
}

.footer a:hover img {
    transform: scale(1.2); 
}


.button-cabecalho button{
    padding: 10px 20px;
    border: none;
    background-color: var(--cor-do-botao);
    color: var(--preto); 
    border-radius: 20px; 
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 8px;
}

.button-cabecalho button:hover {
    transform: scale(1.05); 
}
