.hi-slide {
    position: relative;
    width: 700px;
    height: 292px;
    border-radius: 50px;
    margin: 115px auto 0;
}

.hi-slide .hi-next,
.hi-slide .hi-prev{
    position: absolute;
    top: 50%;
    width: 40x;
    height: 40px;
    margin-top: -20px;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: var(--branca);
    color: black;
    transition: all 0.7s;
    font-size: 20px;
    font-weight: bold;
}